.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.wrapper {
    padding: 10px;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
}
.col {
    border: 1px solid black;
}