@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri-LightItalic.eot');
  src: local('Calibri Light Italic'), local('Calibri-LightItalic'),
  url('../public/fonts/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri-LightItalic.woff2') format('woff2'),
  url('../public/fonts/Calibri-LightItalic.woff') format('woff'),
  url('../public/fonts/Calibri-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri-Italic.eot');
  src: local('Calibri Italic'), local('Calibri-Italic'),
  url('../public/fonts/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri-Italic.woff2') format('woff2'),
  url('../public/fonts/Calibri-Italic.woff') format('woff'),
  url('../public/fonts/Calibri-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri-Light.eot');
  src: local('Calibri Light'), local('Calibri-Light'),
  url('../public/fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri-Light.woff2') format('woff2'),
  url('../public/fonts/Calibri-Light.woff') format('woff'),
  url('../public/fonts/Calibri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri-Bold.eot');
  src: local('Calibri Bold'), local('Calibri-Bold'),
  url('../public/fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri-Bold.woff2') format('woff2'),
  url('../public/fonts/Calibri-Bold.woff') format('woff'),
  url('../public/fonts/Calibri-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri.eot');
  src: local('Calibri'),
  url('../public/fonts/Calibri.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri.woff2') format('woff2'),
  url('../public/fonts/Calibri.woff') format('woff'),
  url('../public/fonts/Calibri.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../public/fonts/Calibri-BoldItalic.eot');
  src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'),
  url('../public/fonts/Calibri-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Calibri-BoldItalic.woff2') format('woff2'),
  url('../public/fonts/Calibri-BoldItalic.woff') format('woff'),
  url('../public/fonts/Calibri-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  min-height: 100vh;
}

.border {
border: 2px solid rgb(0, 0, 0);
border-radius: 20px;
height: 400px;
width: 300px;
background-color: rgba(179, 233, 237, 0.358);
margin: 10% auto;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-picker > * {
  border-color: transparent transparent #DEDEDE !important;
}
.twitter-picker > div:last-child {
  background-color: #DEDEDE !important;
}