.clicker {
    display: block;
    height: 100px;
    width: 100px;
    color: #FF00FF;
    background: #00FFFF;
    border: 1px dashed #000000;
    border-radius: 30px;
    margin: 10% auto;
    cursor: pointer;
    transition: .3s;
}
.clicker:hover {
    background: #FF00FF;
    color: #00FFFF;
}